.filter_container {
  margin-top: 20px;
}

.filter_title {
  font-size: 28px;
  font-weight: bold;
  text-align: center;
}

.filter_form {
  margin-top: 20px;
  text-align: center;
}

.filter_input {
  width: 75%;
}

input {
  text-align: center;
}
